{% extends "store/base_2.html" %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Main Content -->
<div class="card w-50 text-bg-dark mx-auto mt-4"> <!-- Added mt-4 for spacing -->
    <div class="card-body">

        <!-- First Row of Buttons -->
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-light w-100">Login</button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-light w-100">Signup</button>
            </div>
        </div>


        <!-- Login Form -->
        <div id="loginForm" style="display: none;">
            <form method="POST" action="" class="mt-3">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email_login" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email_login" name="email">
                </div>
                <div class="mb-3">
                    <label for="password_login" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password_login" name="password">
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
        </div>

        <!-- Signup -->
            <div id="signupForm">
                <form method="POST" action="" class="mt-3">
                {% csrf_token %}
                <fieldset>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary w-100">Signup</button>
                </div>
                <!-- Submit Button -->
                </form>
            </div>
    </div>
</div>
{% endblock content %}